<div class="info-page">

  <div class="info-header">
    <h2 id="groupName"></h2>

    <button id="closeGroupInfoBtn" class="close-btn">
      X
    </button>
  </div>

  <div class="info-section">
    <p>
      <strong>Your Role:</strong>
      <span id="groupRole"></span>
    </p>
  </div>

  <div class="info-section">
    <h3>Members</h3>
    <ul id="membersList" class="member-list"></ul>
  </div>
  <div id="memberMenu" class="member-menu hidden">
    <button id="removeMemberBtn">Remove</button>
    <button id="extraActionBtn">XXXXX</button>
</div>

</div>